.products {
    display: grid;
    gap: 10px;
    max-width: 400px;
  }

  .product {
    padding: 12px;
    border: 1px solid #ccc;
  }

  .hidden {
    display: none;
  }

  /* დამატებითი */
  .user-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
  }
  .user-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  /* ------ */

  .products-list {
    margin-top: 15px;
    display: grid;
    gap: 10px;
    max-width: 300px;
  }
  
  .shop-card {
    padding: 12px;
    border: 1px solid #777;
    background-color: #f9f9f9;
  }

  /* ----------- */

  .countries-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 250px;
  }
  
  .country-box {
    padding: 10px;
    border: 1px solid #444;
    background-color: #f0f4f8;
    font-weight: bold;
  }

   /* ----------- */

   .faq {
    max-width: 500px;
  }

  .faq-item {
    border-bottom: 1px solid #ccc;
  }

  .faq-question {
    width: 100%;
    padding: 14px;
    text-align: left;
    cursor: pointer;
  }

  .faq-answer {
    display: none;
    padding: 14px;
  }

  .faq-item.active .faq-answer {
    display: block;
  }

  /* დამატევით */

  .nav-container {
    display: flex;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    max-width: 400px;
  }

  .tab-trigger {
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
  }

  .tab-trigger.is-selected {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
  }

  /* --------- */